ul {
  list-style-type: none;
  font: 700 16px Lato;
}

ul li {
  border: 1px dashed silver;
  display: inline-block;
}
 li:hover {
  background-color: silver;
  color: white;
}
li a {
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}