/* line 4, ../sass/screen.scss */
body {
  font: 16px lato;
  margin-top: 20px;
}

/* line 9, ../sass/screen.scss */
.app-title {
  color: cornflowerblue;
  margin-bottom: 20px;
}

/* line 14, ../sass/screen.scss */
.puppy-wrapper {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

/* line 26, ../sass/screen.scss */
.puppy-portrait {
  height: 100px;
  width: auto;
  float: right;
  margin-right: 20px;
  transition: 0.3s ease;
  cursor: pointer;
  transform: rotate(0deg);
  border: 1px solid cornflowerblue;
  padding: 1px;
}
/* line 36, ../sass/screen.scss */
.puppy-portrait:hover {
  transform: rotate(-2deg) scale(1.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* line 42, ../sass/screen.scss */
.puppy-description {
  float: left;
}
/* line 44, ../sass/screen.scss */
.puppy-description .puppy-name {
  font-size: 20px;
}

/* line 49, ../sass/screen.scss */
.main-footer {
  background-color: #ffffff;
  border-top: 1px solid cornflowerblue;
  padding-top: 10px;
  margin-top: 30px;
}

/* line 56, ../sass/screen.scss */
.main-header {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 61, ../sass/screen.scss */
.main-nav {
  list-style-type: none;
  font: 700 16px Lato;
  margin-bottom: 20px;
  -webkit-padding-start: 0;
}

/* line 68, ../sass/screen.scss */
.main-nav li {
  border: 1px dashed silver;
  display: inline-block;
}

/* line 73, ../sass/screen.scss */
.main-nav li:hover {
  background-color: silver;
  color: white;
}

/* line 78, ../sass/screen.scss */
.main-nav li a {
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

/* line 84, ../sass/screen.scss */
.newsletter {
  padding-bottom: 30px;
  min-height: calc(100vh - 250px);
}

/* line 90, ../sass/screen.scss */
main {
  min-height: calc(100% - 20px);
}

/* line 94, ../sass/screen.scss */
body,
html {
  min-height: 100%;
}
