/* line 5, ../sass/screen.scss */
body {
  font: 16px lato;
  margin-top: 20px;
}

/* line 10, ../sass/screen.scss */
.app-title {
  color: cornflowerblue;
  margin-bottom: 20px;
}

/* line 15, ../sass/screen.scss */
a.site-logo:hover .app-title {
  text-decoration: none;
}

/* line 19, ../sass/screen.scss */
a.site-logo:hover {
  text-decoration: none;
}

/* line 23, ../sass/screen.scss */
.puppy-wrapper {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid silver;
}

/* line 34, ../sass/screen.scss */
.puppy-portrait {
  height: 100px;
  width: auto;
  float: right;
  margin-right: 20px;
  transition: 0.3s ease;
  cursor: pointer;
  transform: rotate(0deg);
  border: 1px solid cornflowerblue;
  padding: 1px;
}
/* line 44, ../sass/screen.scss */
.puppy-portrait:hover {
  transform: rotate(-2deg) scale(1.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* line 50, ../sass/screen.scss */
.puppy-description {
  float: left;
}
/* line 52, ../sass/screen.scss */
.puppy-description .puppy-name {
  font-size: 20px;
}

/* line 57, ../sass/screen.scss */
.main-footer {
  background-color: #ffffff;
  padding-top: 10px;
  margin-top: 30px;
}

/* line 63, ../sass/screen.scss */
.main-header {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 68, ../sass/screen.scss */
.main-nav {
  list-style-type: none;
  font: 700 16px Lato;
  margin-bottom: 20px;
  -webkit-padding-start: 0;
}

/* line 75, ../sass/screen.scss */
.main-nav li {
  border: 1px dashed silver;
  display: inline-block;
}

/* line 80, ../sass/screen.scss */
.main-nav li:hover {
  background-color: silver;
  color: white;
}

/* line 85, ../sass/screen.scss */
.main-nav li a {
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

/* line 91, ../sass/screen.scss */
.newsletter {
  padding-bottom: 30px;
  min-height: calc(100vh - 250px);
}

/* line 97, ../sass/screen.scss */
main {
  min-height: calc(100% - 20px);
}

/* line 101, ../sass/screen.scss */
body,
html {
  min-height: 100%;
}

/* line 106, ../sass/screen.scss */
p.index {
  color: white;
  float: left;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: tan;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
}
