/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

.wrapper {
  width: 500px;
  margin: 30px auto;
}

.app-title {
  font: bold 25px Lato;
  color: cornflowerblue;
  text-align: center;
}

.puppy-wrapper {
  overflow: hidden;
  padding: {
    top: 20px;
    bottom: 20px;
  }
  font: 16px Lato;
  border: {
    top: 1px solid silver;
    bottom: 1px solid silver;
  }
}

.puppy-portrait {
  height: 100px;
  width: auto;
  float: right;
}

.puppy-description {
  float: left;
  .puppy-name {
    font-size: 20px;
  }
}
